<!--
<div id="content" data-ng-app="" data-ng-init="allpos=[1, 2, 3]">
  <div class="row" >
        <div class="col l4 m6 s12"  ng-repeat="pos in allpos"  >
          <div class="row">
                    <div class="col l6 m12 s12" ng-repeat="cat in cats | filter:{cat_position:pos}">
                        <div class="card shorter-box">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{{cat.img_url}}">
                            </div>
                            <div class="card-content red">
                                <p><a href="/category/{{cat.id}}">
                                    <span class="card-title">{{ cat.cat_name }}<i class="fa fa-arrow-circle-right right"></i></span>
                                </a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{{ cat.cat_name }}</span>

                                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            </div>
                        </div>
                    </div>
          </div>
        </div>
  </div>
</div>  -->